<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
<meta name="description" content="Проверка имени и пароля"/>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous"/>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css"/>
<title>Проверка имени и пароля</title>
</head>
<body bgcolor="#fffae8">
  <div id="center" class="pure-g">
    <div class="pure-u-1 pure-u-md-1-4">
      <div class="navigation">
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-3-4">
      <h1>Проверка имени и пароля</h1>
      <h2>Приложение ${app} запрашивает доступ ${scope}</h2>
      <p>Введите ваше имя и пароль:</p>
      <form class="pure-form pure-form-aligned" method="post" action="/oauth/sign-in">
        <div class="pure-control-group">
          <label for="user">Имя</label>
          <input id="user" name="user" type="text" placeholder="Username"/>
        </div>
        <div class="pure-control-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" placeholder="Password"/>
        </div>
        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
        <input id="client_id" name="client_id" type="hidden" value="${client_id}"/>
        <input id="redirect_uri" name="redirect_uri" type="hidden" value="${redirect_uri}"/>
        <input id="state" name="state" type="hidden" value="${state}"/>
        <input id="scope" name="scope" type="hidden" value="${scope}"/>
      </form>
    </div>
  </div>
</body>
</html>
